
/* Imports */ 

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


/* General */ 
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #ddd !important;
}


/* Container principal */ 
.container {
    background-color: #fff;
    text-align: center;
    width: 10em;
    margin-top: 3em;
    margin-left: 0em;
    padding: 3em 5em 3em;
    border: solid 4px black;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 25px 25px black;
    transition: all 0.4s ease;
}

.container:hover {
    border-radius: 0% 0% 0% 50% / 0% 0% 5% 0%;
    box-shadow: 15px 15px black;
}