/* Imports */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


/* General */
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #ddd !important;
}

/* Container principal */
.container {
    background-color: #fff;
    text-align: center;
    width: 72em;
    margin-top: 3em;
    margin-left: 23.5em;
    padding: 3em 15em 3em;
    border: solid 4px black;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 25px 25px black;
    transition: all 0.4s ease;
}

.container:hover {
    border-radius: 0% 0% 0% 50% / 0% 0% 5% 0%;
    box-shadow: 15px 15px black;
}

/* Container Auxiliar */

.container-aux {
    border: solid 3px black;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 3px 3px black;
    transition: all 0.4s ease;
}


/* Formulario */


fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #000;
    padding: 1em 1em;
    grid-template-columns: 1fr 1fr;
}

legend {
    font-size: 18px;
}





/* Temporizador */
.tiempo {
    font-size: medium;
}

/* Botones */

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: black;
    /* Updated color */
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.5em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    width: 16.8125rem;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy a {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black !important;
    /* Updated color */
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover a {
    color: white;
    padding-left: 1.5em;
}